html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4edf2;
  }
  
  #container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(95deg, #c6e5f5,#56a8d1);
    box-shadow: 0 0 10px rgba(148, 206, 235, 0.2);
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }

  nav{
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  #about{
    text-align: justify;
  }

  #achievements{
    text-align: justify;
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a:hover {
    color: black;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h1, h2 {
    text-align: center;
    color: black;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 25%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  p {
    color: black;
    line-height: 1.5;
  }
  
  blockquote {
    font-style: italic;
    margin-bottom: 10px;
    color: #777;
  }
  
  cite {
    display: block;
    text-align: right;
    font-weight: bold;
    color: #555;
  }
  
  footer {
    text-align: center;
    margin-top: 50px;
    color: #777;
  }
  
